
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .App {
    text-align: center;
    padding: 50px 20px;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2.5em;
    position: relative;
  }
  
  h1::after {
    content: '';
    display: block;
    width: 100px;
    height: 10px;
    background-color: #4CAF50;
    margin: 10px auto 0;
  }
  
  form {
    display: inline-block;
    text-align: left;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  input[type='file'] {
    display: block;
    margin: 20px 0;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px ;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
  }
  
  button:active {
    background-color: #3e8e41;
    transform: translateY(0);
  }
  
  p {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }
  
  p::before {
    content: 'Result: ';
    font-weight: bold;
  }
  